In [1]:
L=int(input("Enter Length : ")) #1 number
B=int(input("Enter Breadth : "))

Enter Length : 4
Enter Breadth : 4

In [2]:
if L==B:
    print("True for Square")
else:
    print("Not a Square")

True for Square

In [3]:
a=float(input("Enter First Number : ")) #2 number question
b=float(input("Enter Second Number : "))
c=float(input("Enter Third Number : "))

Enter First Number : 10
Enter Second Number : 16
Enter Third Number : 40

In [4]:
if (a >= b) and (a >= c):
   largest = a
elif (b >= a) and (b >= c):
   largest = b
else:
   largest = c

print("The largest number is", largest)

The largest number is 40.0

In [5]:
H=float(input("Number of classes held : ")) #3 number question
A=float(input("Number of classes attend : "))
P=(A/H)*100

Number of classes held : 45
Number of classes attend : 37

In [6]:
if P>=75:
    print("You are Eligible")
else:
    print("You are not Eligible")

You are Eligible

In [7]:
G=float(input("Enter your obtained number : ")) #4 number question
if G>=90 and G<=100:
    print("You got A+")
elif G>=80 and G<=89:
    print("you got A")
elif G>=60 and G<=79:
    print("You got B")
elif G>=50 and G<=59:
    print("You got C")
elif G>=45 and G<=49:
    print("You got D")
elif G>=25 and G<=44:
    print("You got E")
elif G>=0 and G<=24:
    print("You got F")
else:
    print("invalid")

Enter your obtained number : 80
you got A

In [8]:
i=1 #5 number question
while (i<=7):
    print(i)
    i=i+1

1
2
3
4
5
6
7

In [9]:
i=1 #5 number question
while (i<=7):
    print(i)
    i=i+1

1
2
3
4
5
6
7

In [10]:
Li=[1,3,5,[2,3],True] #12 number question

In [11]:
Li

[1, 3, 5, [2, 3], True]

In [12]:
Li[3][0]=3

In [13]:
Li

[1, 3, 5, [3, 3], True]

In [14]:
Li[4]=False

In [15]:
Li

[1, 3, 5, [3, 3], False]

In [16]:
S1={1,4,6,8} #13 number question
S2={True, 1,2,10}
S1.intersection(S2)

{True}

In [17]:
#15 number question
dic={
    'name': 'Sopnil', 
    'age':28, 
    'city': 'Dhaka', 
    'Country': 'Bangladesh'
}

In [18]:
dic

{'name': 'Sopnil', 'age': 28, 'city': 'Dhaka', 'Country': 'Bangladesh'}

In [19]:
dic['Region']=dic.pop('Country')
print('final dicyionary,', str(dic))

final dicyionary, {'name': 'Sopnil', 'age': 28, 'city': 'Dhaka', 'Region': 'Bangladesh'}

In [20]:
num=[10,100,300]    #16 number question 
import pandas as pd
df=pd.DataFrame(num)

In [21]:
df

     0
0   10
1  100
2  300

In [22]:
#17 number question
Dict={
    'name': 'Shakil',
    'age':27, 
    'city': 'Berlin',
    'country': 'Germany'
}

In [23]:
Dict

{'name': 'Shakil', 'age': 27, 'city': 'Berlin', 'country': 'Germany'}

In [24]:
Dict.update(
    {'age':28,}
)

In [25]:
Dict

{'name': 'Shakil', 'age': 28, 'city': 'Berlin', 'country': 'Germany'}